h1 {
    font-weight: bold;
}

header {
    background-color : rgb(45, 80, 80);
}

nav ul {
    list-style : none;
    margin : 0;
    padding : 0;
    display : flex;
}

nav ul li {
    margin : 0;
}

nav ul li a {
    color : white;
    padding : 15px 20px;
    display : block;
    text-decoration : none;
}

nav ul li a:hover {
    background-color : #555;
}

footer {
    font-size: 0.9em;
    color: gray;
}

body {
    background-color : rgb(60, 90, 90);
    color : white;
    font-size: 1.15em;
}

a {
    color : white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: none;
}

.retour {
    color : gray;
}

.retour:hover {
    color : red;
}

.retour:visited {
    color : gray;
}

.Limitation1 {
    border-top : 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: white;
}

.Limitation2 {
    border-top : 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: black;
}

.sur_cette_page {
    background-color : white;
    color : rgb(45, 80, 80);
}

.sur_cette_page:hover {
    background-color : white;
    color : rgb(45, 80, 80);
}

.sur_cette_page:visited {
    background-color : white;
    color : rgb(45, 80, 80);
}